.burger-menu {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }

  &__bg {
    background-color: #151b1f;
    height: 100%;
  }

  &__icon {
    cursor: pointer;
    padding-top: 48px;
    padding-left: 20px;
    padding-right: 20px;
  }

  &__lang {
    color: #0ec261;
    font-size: 13px;
    line-height: 15px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &.mobile {
      display: none;
    }
  }

  & {
    height: 100%;
  }

  &__lang {
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0;
    margin-bottom: 40px;
    cursor: pointer;

    &:hover {
      border: 1px solid #EEEEEE;
      color: #EEEEEE;
    }

    &:active {
      color: #0ec261;
    }
  }

  &__window {
    display: none;
  }

  &__window.open {
    width: 53%;
    height: 100%;
    z-index: 22;
    position: absolute;
    display: block;
    background: #111518;
    /* background: rgba(21, 27, 31, 0.81); */
    top: 0;

    &:before {
      content: "";
      width: 88.7%;
      height: 100%;
      position: absolute;
      left: 100%;
      top: 0;
      background: rgba(21, 27, 31, 0.81);
    }
  }

  &__link {
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Roboto-medium";

    &:hover, &:active {
      color: #0EC261;
    }
  }

  &__link.active {
    color: #0ec261;
  }

  &__item {
    margin-bottom: 10px;
    list-style: none;
  }

  &__list {
    padding: 25% 127px;
    padding-bottom: 0;
    margin-bottom: 36px;
  }

  &__inner-wrapper {
    display: flex;
    padding-left: 127px;
  }

  &__social {
    margin-right: 24px;
    cursor: pointer;

    &:hover path, &:active path {
      fill: #0EC261;
    }
  }

  @media (min-width: 1024px) and (max-width: 1439px) {
    &__window.open {
      width: 60%;

      &:before {
        width: 66.5%;
      }
    }
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    &__window.open {
      width: 100%;

      &:before {
        display: none;
      }
    }

    &__list {
      padding: 10% 127px;
      padding-bottom: 0;
    }
  }
  @media (max-width: 767px) {

    &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      height: 100%;
    }

    &__bg {
      background-color: #151b1f;
      height: 100%;
    }

    &__icon {
      cursor: pointer;
      padding-top: 16px;
      padding-left: 16px;
      padding-right: 20px;
    }

    &__lang {
      color: #0ec261;
      font-size: 13px;
      line-height: 15px;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    & {
      height: 100%;
    }

    &__lang {
      margin-left: 8px;
      padding-bottom: 0;
      padding-left: 12px;
      padding-right: 12px;
      position: absolute;
      bottom: 0;
      margin-bottom: 8px;
      width: auto;

      &.mobile {
        display: flex;
      }

      &:active {
        border: 1px solid #EEEEEE;
        color: #EEEEEE;
      }

      &:active {
        color: #0ec261;
      }
    }

    &__window {
      display: none;
    }

    &__window.open {
      width: 100%;
      height: 100%;
      z-index: 22;
      position: absolute;
      display: block;
      background: #111518;
      /* background: rgba(21, 27, 31, 0.81); */
      top: 0;

      &::before {
        content: none;
      }
    }

    &__link {
      font-weight: 500;
      font-size: 22px;
      line-height: 26px;
      color: #ffffff;
      text-decoration: none;
      text-transform: uppercase;
      font-family: "Roboto-medium";

      &:hover,
      &:active {
        color: #0ec261;
      }
    }

    &__link.active {
      color: #0ec261;
    }

    &__item {
      margin-bottom: 10px;
      list-style: none;
    }

    &__list {
      padding: 36px 28px;
      padding-bottom: 0;
      margin-bottom: 40px;
    }

    &__inner-wrapper {
      display: flex;
      padding-left: 28px;
    }

    &__social {
      margin-right: 24px;
      cursor: pointer;
    }

    &__bg {
      background-color: white;
      height: auto;
      position: absolute;
    }
  }
}
