.order-form {
  &__group {
    text-align: right;
    margin-bottom: 12px;
    width: 38%;
  }

  &__label {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #121212;
    margin-right: 16px;
  }

  &__input {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #121212;
    border: none;
    outline: none;
    padding-left: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid #999999;

    &::placeholder {
      color: #999999;
    }
  }

  &__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #121212;
    margin-top: 40px;
    margin-bottom: 16px;
  }
}
