<div class="order-form">
  <div class="order-form__group">
    <label class="order-form__label" for="">Город</label>
    <input class="order-form__input" type="text" value="Ульяновск">
  </div>
  <div>
    <label class="order-form__label" for="">Пункт выдач</label>
    <input class="order-form__input" placeholder="Начните вводить пункт" type="text">
  </div>
  <div>
    <div class="order-form__text">Выбрать на карте:</div>
    <div><img src="../../../../../../assets/map.jpg" alt=""></div>
  </div>
</div>
