<div class="order-form" *ngIf="routeIsActive('/order-location')">
  <div class="order-form__group">
    <label class="order-form__label" for="">Город</label>
    <app-input typeInput="text" id="city" value="Ульяновск"></app-input>
  </div>
  <div class="order-form__group">
    <label class="order-form__label" for="">Пункт выдач</label>
    <app-input placeholder="Начните вводить пункт" typeInput="text" id="pick-up-point"></app-input>
    <!-- <div class="order-form__wrapper-icon">
      <svg (click)="deleteValue($event)" *ngIf="icon === true" width="8" height="8" viewBox="0 0 8 8" fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M8 0.805714L7.19429 0L4 3.19429L0.805714 0L0 0.805714L3.19429 4L0 7.19429L0.805714 8L4 4.80571L7.19429 8L8 7.19429L4.80571 4L8 0.805714Z"
        fill="#121212" />
    </svg>
    </div> -->
  </div>
  <div>
    <div class="order-form__text">Выбрать на карте:</div>
    <div class="order-form__map">
      <img src="../../../../../../assets/map.jpg" alt="">
      <svg id="circle1" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="9" cy="9" r="6.5" fill="white" stroke="#0EC261" stroke-width="5" />
      </svg>
      <svg id="circle2" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="9" cy="9" r="6.5" fill="white" stroke="#0EC261" stroke-width="5" />
      </svg>
      <svg id="circle3" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="9" cy="9" r="6.5" fill="white" stroke="#0EC261" stroke-width="5" />
      </svg>
      <svg id="circle4" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="9" cy="9" r="6.5" fill="white" stroke="#0EC261" stroke-width="5" />
      </svg>
    </div>
  </div>
</div>
<div class="order-form" *ngIf="routeIsActive('/order-additionally')">
  <div class="order-form__subtitle">Цвет</div>
  <app-order-filter [items]="style"></app-order-filter>
  <div class="order-form__subtitle">Дата аренды</div>
  <div class="order-form__group order-form__group--text-right">
    <label class="order-form__label" for="">C</label>
    <app-input typeInput="text" id="city" value="12.06.2019 12:00" class="input__svg"></app-input>
  </div>
  <div class="order-form__group order-form__group--text-right">
    <label class="order-form__label" for="">По</label>
    <app-input placeholder="Введите дату и время" typeInput="text" id="city" class="input__svg"></app-input>
  </div>
  <div class="order-form__subtitle">Тариф</div>
  <app-order-filter [items]="tarif"></app-order-filter>
  <div class="order-form__subtitle">Доп услуги</div>
  <app-order-filter></app-order-filter>
  <div class="order-group-checbox">
    <app-checkbox label="Полный бак, 500р" [id]="fullTank" checked= true></app-checkbox>
    <app-checkbox label="Детское кресло, 200р" [id]="babyArmchair"></app-checkbox>
    <app-checkbox label="Правый руль, 1600р" [id]="rightHandDrive"></app-checkbox>
  </div>
</div>
