<div class="burger-menu">
  <div class="burger-menu__bg">
    <div class="burger-menu__wrapper">
        <div class="burger-menu__icon">
          <svg [class.open]="stateBurger" (click)="stateBurger = !stateBurger" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4 16H28" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M4 8H28" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M4 24H28" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
        <div class="burger-menu__lang">Eng</div>
    </div>
  </div>
  <div class="burger-menu__window" [class.open]="stateBurger">
    <div class="burger-menu__icon">
      <svg [class.open]="stateBurger" (click)="stateBurger = !stateBurger" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M24 8L8 24" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M8 8L24 24" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>

    </div>
    <ul class="burger-menu__list">
      <li class="burger-menu__item"><a class="burger-menu__link" href="">Парковка</a></li>
      <li class="burger-menu__item"><a class="burger-menu__link active" href="">Страховка</a></li>
      <li class="burger-menu__item"><a class="burger-menu__link" href="">Бензин</a></li>
      <li class="burger-menu__item"><a class="burger-menu__link" href="">Обслуживание</a></li>
    </ul>
    <div>
      <div class="burger-menu__social"><a class="burger-menu__social-link" href="">Иконка</a></div>
      <div class="burger-menu__social"><a class="burger-menu__social-link" href="">Иконка</a></div>
      <div class="burger-menu__social"><a class="burger-menu__social-link" href="">Иконка</a></div>
    </div>
  </div>
</div>
