:root {
    --color-white: #ffffff;
    --color-black: #121212;
    --color-green: #0EC261;
    --color-grey: #999999;
    --color-light-grey: #EEEEEE;
    --color-black-star: #151b1f;
    --color-grey-old-type: #adb5bd;
    --color-grey-blue: #b3d7ff;
    --color-rey-white: #e9ecef;
    --color-black-old-type:#111518;
}
