<div class="main-left-block">
  <div class="main-left-block__wrapper">
    <app-header></app-header>
    <div class="main-left-block__main">
      <div class="main-left-block__black-title">Каршеринг</div>
      <div class="main-left-block__green-title">Need for drive</div>
      <div class="main-left-block__grey-title">Поминутная аренда авто твоего города</div>
      <app-button>Забронировать</app-button>
    </div>
    <div class="main-left-block__footer">
      <div class="main-left-block__footer-coopirate">© 2016-2019 «Need for drive»</div>
      <a class="main-left-block__footer-mobile" href="tel:+74952342244">8 (495) 234-22-44</a>
    </div>
  </div>
</div>
