<div class="order-confirmation">
  <div class="order-confirmation__title">Ваш заказ</div>
  <div class="order-confirmation__inner-wrapper">
    <div class="order-confirmation__label">Пункт выдачи <span>......................</span></div>
    <div class="order-confirmation__input-group">
      <div class="order-confirmation__input-text">Ульяновск</div>
      <div class="order-confirmation__input-text">Нариманова 42</div>
    </div>
  </div>
  <div>
    <div class="order-confirmation__price">Цена: <span>от 8 000 до 12 000 ₽</span></div>
  </div>
  <div class="order-confirmation__button">
    <app-button cssBtn [btnMod]="mod" [text]="text"></app-button>
  </div>
</div>
