.header {
  &__text {
    font-size: 30px;
    line-height: 35px;
    color: var(--color-green);
    font-family: "Roboto-medium";
  }

  &__city {
    color: var(--color-grey);
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
  }

  &__text-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (max-width: 767px) {

    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    &__text-block {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding: 16px;
    }

    &__text {
      margin-bottom: 8px;
    }
  }
}
