@import './assets/css/style.scss';

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  cursor: url('./assets/cursor.svg'), default;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/roboto/Roboto-Light.eot");
  src: url("./assets/fonts/roboto/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/roboto/Roboto-Light.woff") format("woff"), url("./assets/fonts/roboto/Roboto-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/roboto/Roboto-Medium.eot");
  src: url("./assets/fonts/roboto/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/roboto/Roboto-Medium.woff") format("woff"), url("./assets/fonts/roboto/Roboto-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}



.desktop {
  display: block;
}

.mobile {
  display: none;
}

@media (max-width: 767px) {
  .desktop {
    display: none !important;
  }

  .mobile {
    display: block;
  }
}
