.checkbox-goup {
  margin-bottom: 12px;

  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:not(:disabled):active + label::before {
      background-color: var(--color-grey-blue);
      border-color: var(--color-grey-blue);
    }

    &:checked + label {
      color: var(--color-black);
    }

    &:checked + label::before {
      border: 2px solid #0ec261;
    }

    &:checked + label::after {
      display: block;
    }

    &:disabled + label::before {
      background-color: var(--color-rey-white);
    }
  }

  &__label {
    position: relative;
    padding-left: 20px;
    font-size: 14px;
    line-height: 16px;
    color: var(--color-grey);

    &::before {
      position: absolute;
      content: "";
      width: 12px;
      height: 12px;
      border: 2px solid var(--color-grey);
      top: 0;
      left: 0;
    }

    &:after {
      content: url("../../../../assets/check.svg");
      position: absolute;
      top: -2px;
      left: 3px;
      display: none;
    }
  }
}
